name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      DOCKER_POSTGRES_USER: dummy
      DOCKER_POSTGRES_PASSWORD: dummy
      DOCKER_POSTGRES_DB: dummy
      DATABASE_URL: postgresql://dummy:dummy@localhost:5432/dummy
      MAIL_HOST: localhost
      MAIL_PORT: "1025"
      MAIL_SECURE: "false"
      MAIL_FROM_ADDRESS: dummy@example.com
      DOCKER_MINIO_ROOT_USER: minioadmin
      DOCKER_MINIO_ROOT_PASSWORD: minioadmin
      DOCKER_MINIO_BUCKET: staging-bucket
      DOCKER_MINIO_ENDPOINT: http://localhost:9000

    services:
      postgres:
        image: postgres:17.2-alpine3.20
        env:
          POSTGRES_USER: dummy
          POSTGRES_PASSWORD: dummy
          POSTGRES_DB: dummy
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      mailhog:
        image: mailhog/mailhog:latest
        ports:
          - 1025:1025
          - 8025:8025

      minio:
        image: minio/minio:latest
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
        options: >-
          --health-cmd "curl -f http://localhost:9000/minio/health/live"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 9000:9000
        command: server /data

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Lint with Biome
        run: bun run lint

      - name: Wait for services to be ready
        run: sleep 5

      - name: Run tests
        run: bun test --preload ./packages/graphql/tests/setup.ts

      - name: Build project
        run: bun turbo build
