package views

templ BaseHTML() {
	<!DOCTYPE HTML>
	<html lang="en">
		<head>
			<title>Hello</title>
			<link rel="stylesheet" href="/dist/out.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
